body {
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), URL("https://lh3.googleusercontent.com/pw/AP1GczPOz00wvKGvXy6fDrmyq5Qko_QbW7bStZZ9hH0M5KT-4_dyWEnVfrOjipbOjguqDAoldYCYuP5viZb_TEMtyYwRXn_mDLWfVfDSVNTlAznsvso1QB99=w2400");
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Syncopate';
    font-size: 44px;
    font-weight: bolder;
    color: aliceblue;
}
#country-information {
  font-family: 'Syncopate';
  color: aliceblue;
  float:left;
}

#newButtons{
  opacity: 0.5;
}

#countries-button{
  opacity: 1;
}

.container {
  width: 100%;
  height:100vh;
  display: flex;
}

.btn {
    padding: 10px 60px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 1000px;
    height:auto;
    background: #fff;
    border-radius: 6px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 0 30px 30px;
    color: #333;
    transition: transform 0.4s, top 0.4s;
    float:left;
}



.open-popup{
    visibility: visible;
    /*float: right;
    top: 50%; 
    transform: translate(-50%, -50%) scale(1); */
    right: 0px !important;
    left: auto !important;
    transform: translateX(0);
}

/* .popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
} */
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

/* .doneButton {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
} */

 #earth {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 300px;
    margin: 0.05em auto;
    background: #888 url(https://i.pinimg.com/originals/40/be/4d/40be4d81dc0b6e62c4c2f5894efd8fcc.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 10s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 80px 6px rgb(0,0,0);
    color: #0000;
  }
  
  .text {
    flex: 1;
  }
  
  @keyframes rotate {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 630px 0;
    }
  }