body {
    height: 100%;
    background-image: URL("./image/DR\ Beach.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center; /* Center horizontally */
    align-items: left; /* Center vertically */
}
body.dark-theme {
  background-image: none;
  background-color: #02011c;
}

.dark-theme #earth {
  position: center;
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 300px;
    margin: 0.05em auto;
    background: #888 url(https://i.pinimg.com/originals/40/be/4d/40be4d81dc0b6e62c4c2f5894efd8fcc.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 15s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 80px 6px rgb(19, 18, 18);
    color: var(--secondary-color);
}

:root{
  --primary-color: #f0f8ff;
  --secondary-color: #212121;
} 

.dark-theme{
  --primary-color: #b5d09b;
  --secondary-color: #fff;
}

#icon{
  width: 30px;
  cursor: pointer;
  float: right;
  top: 10%;
}

h1 {
    font-family: 'Syncopate';
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
    color: var(--primary-color);
}

.container {
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
}

#title {
  text-align: center;
  font-size: 44px;
  font-weight: bolder;
  color: var(--primary-color);
  margin-bottom: 20px; /* Add some space below the title */
}
/* the countries information box */
#country-information{
color: var(--primary-color);
padding-left: 10px;
/* From https://css.glass */
background: rgba(31, 25, 25, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.9px);
-webkit-backdrop-filter: blur(2.9px);
border: 1px solid rgba(31, 25, 25, 0.37);
}

span {
  text-shadow: 10px 10px 20px #273b37;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#country-information ul{
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0;
}

/* The background of the buttons */
#countries-button{
  width:450px;
  height: auto;
  border: none;
  border-radius: 10px;
  background-color: transparent;
}

  #todo-form {
    background-color: transparent;
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.btn {
  padding: 10px 10px;
  outline: none;
  cursor: pointer;
  font-family: 'Syncopate';
  font-size: auto;
  font-weight: 500;
  border-radius: 30px; /* Make it round */
  background-color: transparent; /* Make the background transparent */
  color: var(--primary-color); /* Text color */
  transition: all 0.3s ease; /* Add transition for smooth effect */
  box-shadow: -2px 1px 15px 15px rgba(14, 15, 15, 0.43) inset;
}

.btn:hover {
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
  border-color: rgb(9, 9, 10); /* Change border color on hover */
}


 #earth {
    position: center;
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 300px;
    margin: 0.05em auto;
    background: #888 url(https://i.pinimg.com/originals/40/be/4d/40be4d81dc0b6e62c4c2f5894efd8fcc.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 10s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 80px 6px rgb(0,0,0);
    color: var(--secondary-color);
  }
  
  .text {
    flex: 1;
  }
  
  @keyframes rotate {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 630px 0;
    }
  }

  #addToGo.btn{
    color:var(--primary-color);
  }

  #todo-form{
    color: var(--primary-color);
    background: rgba(31, 25, 25, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(31, 25, 25, 0.37);
  }