body {
    height: 100%;
    background-image: URL("https://lh3.googleusercontent.com/pw/AP1GczPOz00wvKGvXy6fDrmyq5Qko_QbW7bStZZ9hH0M5KT-4_dyWEnVfrOjipbOjguqDAoldYCYuP5viZb_TEMtyYwRXn_mDLWfVfDSVNTlAznsvso1QB99=w2400");
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center; /* Center horizontally */
    align-items: left; /* Center vertically */
}

/* body {
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), URL("https://lh3.googleusercontent.com/pw/AP1GczPOz00wvKGvXy6fDrmyq5Qko_QbW7bStZZ9hH0M5KT-4_dyWEnVfrOjipbOjguqDAoldYCYuP5viZb_TEMtyYwRXn_mDLWfVfDSVNTlAznsvso1QB99=w2400");
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: left;
} */

h1 {
    font-family: 'Syncopate';
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
    color: aliceblue;
}

.container {
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
}

#title {
  text-align: center;
  font-size: 44px;
  font-weight: bolder;
  color: aliceblue;
  margin-bottom: 20px; /* Add some space below the title */
}
/* the countries information box */
#country-information{
  color: aliceblue;
  float:left;
  box-shadow: -2px 1px 50px 20px rgba(14, 15, 15, 0.43) inset;
  border-radius: 10px;
  display: center;
  top: center;
  height: auto;
}
#country-information ul{
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0;
}

/* The background of the buttons */
#countries-button{
  width:450px;
  height: auto;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: -2px 1px 50px 20px rgba(14, 15, 15, 0.43) inset;
}

  #todo-form {
    background-color: transparent;
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

#addToGo.btn{
  color: black;
}

.btn {
  padding: 10px 6px;
  outline: none;
  cursor: pointer;
  font-family: 'Syncopate';
  font-size: auto;
  font-weight: 500;
  border-radius: 30px; /* Make it round */
  background-color: transparent; /* Make the background transparent */
  color: aliceblue; /* Text color */
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

/* .btn {
  float:left;
  padding: 10px 60px;
  border: 0.1px solid transparent; 
  outline: none;
  cursor: pointer;
  font-family: 'Syncopate';
  font-size: auto;
  font-weight: 500;
  border-radius: 30px; 
  background-color: transparent; 
  color: aliceblue; 
  transition: all 0.3s ease; 
} */

.btn:hover {
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
  border-color: rgb(9, 9, 10); /* Change border color on hover */
}


 #earth {
    position: center;
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 300px;
    margin: 0.05em auto;
    background: #888 url(https://i.pinimg.com/originals/40/be/4d/40be4d81dc0b6e62c4c2f5894efd8fcc.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 10s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 80px 6px rgb(0,0,0);
    color: #0000;
  }
  
  .text {
    flex: 1;
  }
  
  @keyframes rotate {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 630px 0;
    }
  }

  #todo-form{
    background-color: aliceblue;
  }